<a href="https://colab.research.google.com/github/Chaqmoqjon/Pandas/blob/main/12_Dataset_statistikasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Keyingi mashqlar uchun ma'lumotlarni Githubdan yuklab olamiz
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni','aholisi']
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [ ]:
df.sum() #ustunlar bo'yicha umumiy sonini hisoblash

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [ ]:
df.mean() #o'tacha maydon va aholi

maydoni    3.399231e+04
aholisi    1.765062e+06
dtype: float64

In [ ]:
df.idxmin() #minimum qiymatdagi indexslar

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

In [ ]:
df.idxmax() # maximum qiymatdagi indekslar

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [ ]:
df['maydoni'].idxmax() # maydoni eng kattasini indeksi

'Qoraqalpogʻiston Respublikasi'

In [ ]:
df['maydoni'].argmax() # maydoni eng kattasini tartib raqami, Series uchun

8

In [ ]:
df.iloc[8]

maydoni     160000.0
aholisi    1200000.0
Name: Qoraqalpogʻiston Respublikasi, dtype: float64

In [ ]:
df.sum()  #yig'indisi

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [ ]:
df.prod() #ko'paytmasi

maydoni    1.538590e+55
aholisi    2.913892e+80
dtype: float64

In [ ]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [ ]:
df2.sum() #ustunlar bo'yicha hisoblash

2020    168712
2021    124734
dtype: int64

In [ ]:
df2.sum(axis = 1) # qatorlardagi qiymatlarni qo'shish

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [ ]:
df2.mean(axis= 1) #o'rtachasini topish

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64